.body {
    background-color: rgb(86, 67, 131)!important;

}
.navbar{
    background-color: rgba(136, 122, 167, 0);
}
h3{
    color: rgba(0, 0, 0, 0.774)!important;
}
p{
    color: rgb(101, 166, 166) ;
}

li{
    list-style: none;
}
.active{
    color: blueviolet;
    font-style: italic;
    font-style: underline;
}
.card-body{
    background-color: rgba(203, 144, 55, 0.852);
}
p.card-text{
    color: rgb(9, 62, 6) !important;
}
p.home-paragraph{
    color: antiquewhite !important;
}